[Unit]
Description=EMIAS Dashboard
After=network.target

[Service]
WorkingDirectory=/opt/emias-dashboard
ExecStart=java -Xms64m -Xmx512m -jar /opt/emias-dashboard/dashboard-1.0.0.jar --spring.profiles.active=prod
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
